body{margin: 0;}
header{   
 padding: 20px 0;
}
.container{
    width: 1700px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    flex-basis: 20%;
    max-width: 20%;
}
.logo img{

}
nav{
    flex-basis: 80%;
    max-width: 80%;
}
nav ul{
    display: flex;
    margin: 0;
    justify-content: flex-end;
    padding: 0;
}
nav ul li{list-style-type: none;}
nav ul li a{
    color: #000;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px;
    display: block;
}
section{
}



.section-one{
	background-image: url(../images/desktop.jpg);
    padding-top: 300px;
    padding-bottom: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: top;
    
	}
.section-two{
    background-image: url(../images/desktop2.jpg);
    padding-top: 300px;
    padding-bottom: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: top;
    }
    
.section-three{
    background-image: url(../images/desktop3.jpg);
    padding-top: 300px;
    padding-bottom: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: top;
    }

    
.section-four{
    background-image: url(../images/desktop4.jpg);
    padding-top: 300px;
    padding-bottom: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: top;
    }

    
.section-five{
    background-image: url(../images/desktop5.jpg);
    padding-top: 300px;
    padding-bottom: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: top;
    
    }

h1{
    font-size: 50px;
    color: black;
    background: orange;
    max-width: 650px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

